

/* Reset-ish */
* { box-sizing: border-box; }
html,body { 
  height:100%; 
  margin:0; 
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; 
  line-height:1.4;
}

body.index {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("https://i.pinimg.com/1200x/53/91/94/539194216387a18d0253cbb1a332f705.jpg");
  z-index: -1;
}

body.surprise {
  background-image: url("https://i.pinimg.com/736x/ef/5b/c5/ef5bc57780507211436cff6ad720c414.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Layout helpers */
.container { 
    max-width:100%; 
    margin:0 auto; 
    padding:1rem; }

/* Header */
.site-header { 
    align-items:center; 
    text-align:center; 
    width:100%; 
    padding-top:70px;
    padding-left:20px;
    padding-right:20px;

}
.site-header h1{
    font-size:2rem;
}
.site-header p{
    font-size:0.9rem;
    font-style:italic;
}

/* 'silkscreen' font */
/* author: Jason Aleksandr Kottke */
/* //www.dafont.com/silkscreen.font */
@font-face {font-family:"silkscreen"; src: url('https://dl.dropbox.com/s/l0frac4d7bz3zx6/silkscreen.ttf');}

/* colors */
:root {
	--Speech-Bubble-Border:#222;
	--Speech-Bubble-Background:#fcfcfc;
	--Speech-Bubble-Text:#000;
}

#speech-bubble {
	width:100%;
}

#bub-part-a {
	margin-left:6px;
	width:calc(100% - 4%);
	height:2px;
	background:var(--Speech-Bubble-Border);
}

#bub-part-b {
	margin-left:4px;
	width:calc(100% - 3%);
	height:2px;
	background:var(--Speech-Bubble-Background);
	border-left:2px solid var(--Speech-Bubble-Border);
	border-right:2px solid var(--Speech-Bubble-Border);
}

#bub-part-c {
	margin-left:2px;
	width:calc(100% - 2%);
	height:2px;
	background:var(--Speech-Bubble-Background);
	border-left:2px solid var(--Speech-Bubble-Border);
	border-right:2px solid var(--Speech-Bubble-Border);
}

#speech-txt {
	width: 99%;
	padding:10px;
	font-family:silkscreen;
	font-size:16px;
	color:var(--Speech-Bubble-Text);
	text-align:center;
	background:var(--Speech-Bubble-Background);
	border-left:2px solid var(--Speech-Bubble-Border);
	border-right:2px solid var(--Speech-Bubble-Border);
}

#speech-arrow {
	margin-top:-2px;
	margin-left:80%;
}

#arrow-w {
	width:12px;
	height:8px;
	background:var(--Speech-Bubble-Background);
	border-left:2px solid var(--Speech-Bubble-Border);
	border-right:2px solid var(--Speech-Bubble-Border);
}

#arrow-x {
	width:10px;
	height:2px;
	background:var(--Speech-Bubble-Background);
	border-left:2px solid var(--Speech-Bubble-Border);
	border-right:2px solid var(--Speech-Bubble-Border);
}

#arrow-y {
	margin-left:-2px;
	width:10px;
	height:2px;
	background:var(--Speech-Bubble-Background);
	border-left:2px solid var(--Speech-Bubble-Border);
	border-right:2px solid var(--Speech-Bubble-Border);
}

#arrow-z {
	margin-left:-2px;
	width:8px;
	height:2px;
	background:var(--Speech-Bubble-Border);
}

/* Nav toggle */
.nav-toggle { font-size:1.2rem; border:0; background:transparent; cursor:pointer; }

/* Hero */
.hero { padding:3rem 0; background:linear-gradient(180deg,#f9fafb,#fff); text-align:center; }
.hero h2 { margin:0 0 .5rem; font-size:1.6rem; text-align:center}
.hero p { margin:0 0 1rem; }

/* Buttons */
.btn { display:inline-block; padding:.6rem 1rem; text-decoration:none; border-radius:6px; background:#1f6feb; color:white; border:0; cursor:pointer; }

/* Features grid */
.games {
  font-family:silkscreen;
}

.games .grid { 
    display:grid; 
    gap:1rem; 
    margin-top:1rem; 
    border: 3px solid #95c6a1;
    border-radius: 8px;
    background-color: rgb(255, 255, 255, 0.7);
}
.card { 
    padding:1rem; 
}

/* Password */
.password-container {
  text-align: center;
  padding: 20px;
}

#resultBox .grid {
    display:grid; 
    gap:1rem; 
    margin-top:1rem; 
    border: 3px solid #95c6a1;
    border-radius: 8px;
}

.hidden {
  display: none;
}

#date-form {
    padding:1rem;
}

/* Footer */
.site-footer {
  padding:1rem 0; 
  text-align:center; 
  margin-top:2rem; 
  color: white; 
  font-family: 'Courier New', Courier, monospace;
  font-size: 13px;
  font-weight: bold;
}

/* Forms */
.contact-form { display:grid; gap:.6rem; max-width:600px; }
.contact-form input, .contact-form textarea { padding:.5rem; border:1px solid #ddd; border-radius:6px; }

/* General Formatting */
.break {
  flex-basis: 100%;
  width: 0;
}

/* Desktop (min-width:768px) */
@media (min-width: 768px) {
  .nav { display:block; }
  .nav-toggle { display:none; }
  .hero h1 { font-size:2rem; }
  .games .grid { grid-template-columns: repeat(3, 1fr); }
}
